@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

* {
  margin: 0;
  padding: 0;
}

.hero-image {
  background-image: url("images/desktop/image-header.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero-text {
  color: white;
  font-family: "Fraunces", serif;
  font-weight: 700;

  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%) translateY(-30%);
}

.hero-text img {
  margin: 0 auto;
  padding-top: 200px;
}

#navbar-default {
  font-family: "Fraunces", serif;
  color: white;
}

#navbar-default a:hover {
  font-size: 12px;
}
